.topper {
    float: left;
}

.adder {
    float: right;
}

.subsListHeaders {
     width: 100%;
     list-style-type: none;
     overflow: hidden;
     text-align: center;
}

.subsList {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

#addSub {
   display: none;
}

#addSub li input{
    width: 128px;
}

#newList {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

li {
    width: 128px;
    padding: 16px;
    float: left;
}