.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: cadetblue;
    margin: 0px 64px;
}

.title{
    text-align: left;
    padding: 0px 32px;
}

.login-sign-up {
    list-style-type: none;
    text-align: right;
}

.log-in, .sign-up {
    float: right;
    font-size: 16px;
}

.acc {
    margin-right: 32px;
    width: 64px;
}

/* Login form hidden by default */
.login-popup {
    display: none;
    position: fixed;
    right: 64px;
    z-index: 9;
    text-align: left;
    margin-top: 16px;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: gray;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


