.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: cadetblue;
    margin: 0px 64px;
}

.title{
    text-align: left;
    padding: 0px 32px;
}

.login-sign-up {
    list-style-type: none;
    text-align: right;
}

.log-in, .sign-up {
    float: right;
    font-size: 16px;
}

.acc {
    margin-right: 32px;
    width: 64px;
}

/* Login form hidden by default */
.login-popup {
    display: none;
    position: fixed;
    z-index: 9;
}


